<div class="container-fluid header">
    <div class="row align-items-end">
        <div class="col">
            <img src="/assets/logo.svg" alt="logo codigo do futuro">
        </div>
        <div class="col-9">
            <div class="row row-cols-auto ">
                <a class="col menu activeRoute" href="">Home</a>
                <a class="col menu" href="">Clientes</a>
                <a class="col menu" href="">Produtos</a>
                <a class="col menu" href="">Pedidos</a>
                <a class="col menu" href="">Fluxo de Caixa</a>
            </div>
        </div>
        <div class="col">
            <span>Olá, </span>
            <span>Usuario</span>
        </div>
    </div>
</div>