.products-container {
    background-color: #F8F9FA;
}

.details-container {
    background-color: #F8F9FA;
}

.products-name span {
    font-weight: 700;
    font-size: large;
    color: #212529;
}

.products-name span {
    font-weight: 700;
    font-size: large;
    color: #212529;
}


.stockQty {
    background-color: #B7EFC5;
    color: #04B030;
    font-weight: 700;
    margin: 0;
    font-size: 14px;
}

.btn-danger {
    background-color: transparent;
    border-color: #FF4800;
    color: #FF4800;
    margin-left: 10px;
}

.btn-primary {
    background-color: #4E46B4;
    color: #F8F9FA;
}

.btn-info {
    background-color: transparent;
    border-color: #04B030;
    color: #04B030;
    margin-left: 70px;
}

.plus-button {
    font-size: 18px;
    color: #212529;
    border: none;
}

.alert-info{
    background-color: #CFCEE9;
    border-color: #CFCEE9;
    color: #4E46B4;
}

.inStock{
    background: #B7EFC5; color: #04B030;
}
.outStock{
    background: #EDDEA4; color: #FF4800;
}

.costumerProfile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #CFCEE9;
    font-weight: 800;
    color: #4E46B4;
    overflow: hidden;
}