img{
    padding-left: 608px;
    padding-top: 10px;
}
div{
    background-color: white;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-20%);
    padding: 10px;
    border-radius: 15px;
}
input{
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    
}
button{
    background-color: midnightblue; 
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: royalblue;
}
h1{
    padding-left: 609px;
    padding-top: 120px;
}
p{
   padding-left: 580px;
   font-size: 9px;
}